<h1 class="mt-3">Pipes <small>Angular</small> </h1>


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Salida</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >{{nombre}}</td>
      <td> <strong title="Poner texto en mayuscula">uppercase</strong></td>
      <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
      <td >{{nombre}}</td>
      <td><strong title="Poner texto en minuscula">uppercase</strong></td>
      <td>{{nombre | lowercase}}</td>
    </tr>
    <tr>
      <td >{{nombre}}</td>
      <td><strong title="Corta el texto desde el numero indicado">slice:3</strong></td>
      <td>{{nombre | slice:3}}</td>
    </tr>
    <tr>
      <td >{{nombre}}</td>
      <td><strong title="Corta el texto desde el un rango indicado">slice: 0:3</strong></td>
      <td>{{nombre | slice:0:3}}</td>
    </tr>
    <tr>
      <td >{{arreglo}}</td>
      <td><strong title="Corta el array desde el un rango indicado" >slice: 1:5</strong></td>
      <td>{{arreglo | slice:1:5}}</td>
    </tr>
    <tr>
      <td >{{PI}}</td>
      <td><strong title="Redondea numeros . significa toda la parte entera 0-0 nada de decimales" >number</strong></td>
      <td>{{PI | number:'.0-0'}}</td>
    </tr>
    <tr>
      <td >{{PI}}</td>
      <td><strong title="Redondea numeros 3. significa 3  partes enteras, 0-0 nada de decimales" >number</strong></td>
      <td>{{PI | number:'3.0-0'}}</td>
    </tr>
    <tr>
      <td >{{PI}}</td>
      <td><strong title="Redondea numeros . significa toda la parte entera 0-2 dos decimales" >number</strong></td>
      <td>{{PI | number:'.0-2'}}</td>
    </tr>
  </tbody>
</table>
<h1>Tips</h1>
<p><strong style="color: rgb(233, 47, 47);">No sale error</strong>, se puede generar un rango con el ngfor y no sale error</p>
<h4 title="se puede generar un rango con el ngfor y no sale error" >Slice</h4>
<table>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
  </ul>
</table>



